mixin history(title)
    .history-block.history-history
        .container
            .history-block__items
                a(href="#").history-block__item
                    .date 22 марта
                    .title Оториноларингология
                a(href="/visits-history.html").history-block__item
                    .date 12 февраля
                    .title Рентгенологические исследования (ортопантомограмма)
                a(href="#").history-block__item
                    .date 29 декабря 2021
                    .title МРТ