.history-block{
  margin-bottom: 24px;
  &__items{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    width: 100%;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 12px;
    position: relative;

    &:last-child{
      margin-bottom: 0px;
    }

    .date{
      font-size: 14px;
      line-height: 145%;
      color: #7F8185;
    }

    .title{
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #242629;
    }
  }
}