.services-block
    .container
        .block-title.services-block__title
            span Наши услуги
        .services-block__items
            a(href="#").services-block__item
                .icon: +icons('#ser-1', 64)
                .name Записаться на&nbsp;прием
            a(href="#").services-block__item
                .icon: +icons('#ser-2', 64)
                .name Мой паспорт здоровья
            a(href="#").services-block__item
                .icon: +icons('#ser-3', 64)
                .name Записаться на&nbsp;диагностику
            a(href="#").services-block__item
                .icon: +icons('#ser-4', 64)
                .name Сдать        анализы
            a(href="#").services-block__item
                .icon: +icons('#ser-5', 64)
                .name Хирургия
            a(href="#").services-block__item
                .icon: +icons('#ser-6', 64)
                .name Программы