mixin favorites()
    .doctors-block
        .container
            .block-title.doctors-block__title
                span Любимые врачи
                a(href="#").block-title__link
                    span Все
                    +icons('#icon_chevron_right', 24)
            .doctors-block__items
                .doctors-block__item
                    .text
                        .text-name Чудовский Олег Анатольевич
                        .text-caption Врач-реабилитолог
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/doc-1.jpg" width="80" height="104")
                .doctors-block__item
                    .text
                        .text-name Козакова Оксана Григорьевна
                        .text-caption Терапевт
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/doc-2.jpg" width="80" height="104")
                .doctors-block__item
                    .text
                        .text-name Козакова Оксана Григорьевна
                        .text-caption Терапевт
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/doc-3.jpg" width="80" height="104")
mixin directions()
    .doctors-block.doctors-block--directions
        .container
            .block-title.doctors-block__title
                span Врачи по направлению
            .doctors-block__items
                .doctors-block__item
                    .text
                        .text-name Околелов Юрий Вячеславович
                        .text-caption Врач травматолог-ортопед
                        .text-toggle
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/doc-4.jpg" width="80" height="104")
                    .features
                        .features-text
                            p Врач с опытом работы:
                            ul
                                li Врач травматолог-ортопед
                                li Врач травматолог-ортопед для детей раннего возраста с поражением центральной нервной системы и нарушением функции опорно-двигательного аппарата
                                li Врач реабилитолог для реабилитации больных неврологического и травматологического профиля
                                li Тренер-врач
                            p Врач постоянно повышает свою квалификацию, проходит курсы, семинары, является активным участником конференций, изучает современную медицинскую литературу.
                        ul.features-list
                            li 1 квалификационная категория
                            li Стаж работы 13 лет.
                        a(href="#").features-link Записаться на прием
                .doctors-block__item
                    .text
                        .text-name Бабров Артем Александрович
                        .text-caption Врач травматолог-ортопед
                        .text-toggle
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/doc-5.jpg" width="80" height="104")
                    .features
                        .features-text
                            p Врач с опытом работы:
                            ul
                                li Врач травматолог-ортопед
                                li Врач травматолог-ортопед для детей раннего возраста с поражением центральной нервной системы и нарушением функции опорно-двигательного аппарата
                                li Врач реабилитолог для реабилитации больных неврологического и травматологического профиля
                                li Тренер-врач
                            p Врач постоянно повышает свою квалификацию, проходит курсы, семинары, является активным участником конференций, изучает современную медицинскую литературу.
                        ul.features-list
                            li 1 квалификационная категория
                            li Стаж работы 13 лет.
                        a(href="#").features-link Записаться на прием
                .doctors-block__item
                    .text
                        .text-name Муха Михаил Михайлович
                        .text-caption Врач травматолог-ортопед
                        .text-toggle
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/doc-6.jpg" width="80" height="104")
                    .features
                        .features-text
                            p Врач с опытом работы:
                            ul
                                li Врач травматолог-ортопед
                                li Врач травматолог-ортопед для детей раннего возраста с поражением центральной нервной системы и нарушением функции опорно-двигательного аппарата
                                li Врач реабилитолог для реабилитации больных неврологического и травматологического профиля
                                li Тренер-врач
                            p Врач постоянно повышает свою квалификацию, проходит курсы, семинары, является активным участником конференций, изучает современную медицинскую литературу.
                        ul.features-list
                            li 1 квалификационная категория
                            li Стаж работы 13 лет.
                        a(href="#").features-link Записаться на прием
                .doctors-block__item
                    .text
                        .text-name Чудовский Олег Анатольевич
                        .text-caption Врач-реабилитолог (специализирующийся по реабилитации ортопедо-травматологических пациентов)
                        .text-toggle
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/doc-7.jpg" width="80" height="104")
                    .features
                        .features-text
                            p Врач с опытом работы:
                            ul
                                li Врач травматолог-ортопед
                                li Врач травматолог-ортопед для детей раннего возраста с поражением центральной нервной системы и нарушением функции опорно-двигательного аппарата
                                li Врач реабилитолог для реабилитации больных неврологического и травматологического профиля
                                li Тренер-врач
                            p Врач постоянно повышает свою квалификацию, проходит курсы, семинары, является активным участником конференций, изучает современную медицинскую литературу.
                        ul.features-list
                            li 1 квалификационная категория
                            li Стаж работы 13 лет.
                        a(href="#").features-link Записаться на прием
mixin visited()
    .doctors-block.doctors-block--visited
        .container
            .block-title.doctors-block__title
                span Посещенные врачи
            .block-subtitle Показаны врачи от самых часто посещаемых к менее посещаемым
            .doctors-block__items
                .doctors-block__item
                    .text
                        a(href="#").text-name Околелов Юрий Вячеславович
                        .text-caption Врач-травматолог-ортопед
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/doc-4.jpg" width="80" height="104")
                .doctors-block__item
                    .text
                        a(href="#").text-name Муха Михаил Михайлович
                        .text-caption Врач-травматолог-ортопед
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/doc-5.jpg" width="80" height="104")
                .doctors-block__item
                    .text
                        a(href="#").text-name Чудовский Олег Анатольевич
                        .text-caption Врач-реабилитолог (специализирующийся по реабилитации ортопедо-травматологических пациентов)
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/doc-6.jpg" width="80" height="104")
mixin doctors()
    .doctors-block.doctors-block--all
        .container
            .block-title.doctors-block__title
                span Все врачи
                a(href="#filters").block-title__link: +icons('#icon_filter', 24)
            .doctors-block__search
                +input-icon({
                    type: "search",
                    icon: "#icon_search",
                    placeholder: "Найти врача"
                })
            .doctors-block__items
                .doctors-block__item
                    .text
                        a(href="#").text-name Берстенёва Лариса Витальевна
                        .text-caption Врач-дерматолог
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/dc-1.jpg" width="80" height="104")
                .doctors-block__item
                    .text
                        a(href="#").text-name Подольская Елена Олеговна
                        .text-caption Врач-гастроэнтеролог
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/dc-2.jpg" width="80" height="104")
                .doctors-block__item
                    .text
                        a(href="#").text-name Смертин Николай Владимирович
                        .text-caption Врач-оториноларинголог
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/dc-3.jpg" width="80" height="104")
                .doctors-block__item
                    .text
                        a(href="#").text-name Зингалев Сергей Олегович
                        .text-caption Врач онколог-хирург, маммолог
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/dc-4.jpg" width="80" height="104")
                .doctors-block__item
                    .text
                        a(href="#").text-name Зингалев Сергей Олегович
                        .text-caption Врач онколог-хирург, маммолог
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/dc-5.jpg" width="80" height="104")
                .doctors-block__item
                    .text
                        a(href="#").text-name Козакова Оксана Григорьевна
                        .text-caption Терапевт
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/dc-6.jpg" width="80" height="104")
                .doctors-block__item
                    .text
                        a(href="#").text-name Бабров Артем Александрович
                        .text-caption Врач-травматолог-ортопед
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/dc-7.jpg" width="80" height="104")
                .doctors-block__item
                    .text
                        a(href="#").text-name Басенко Татьяна Валерьевна
                        .text-caption Врач-акушер-гинеколог
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/dc-8.jpg" width="80" height="104")
                .doctors-block__item
                    .text
                        a(href="#").text-name Багрицевич Николай Викторович
                        .text-caption Врач-уролог
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/dc-9.jpg" width="80" height="104")
                .doctors-block__item
                    .text
                        a(href="/doctors-detail.html").text-name Голубенко Виталий Иванович
                        .text-caption Врач сосудистый хирург
                        a(href="#").text-link Записаться на прием
                    .image
                        img(loading="lazy" class="lazyload" data-src="/img/common/dc-10.jpg" width="80" height="104")

