extends ../layouts/default
include ../helpers/mixins
include ../../blocks/components/breadcrumbs/breadcrumbs.pug
include ../../blocks/components/form/form.pug
include ../../blocks/components/checkbox/checkbox.pug
include ../../blocks/components/headers/headers.pug
include ../../blocks/components/table/table.pug
include ../../blocks/components/popup/popup.pug
include ../../blocks/modules/user-block/user-block.pug
include ../../blocks/modules/searchbox/searchbox.pug
include ../../blocks/modules/services-section/services-section.pug
include ../../blocks/modules/analyzes/analyzes-mixin.pug
include ../../blocks/modules/top-bar/top-bar.pug


block variables
    - const title = "Главная"
block styles
    link(rel="stylesheet" href="/styles/appoint.css")
block content
    //.appoint-page
        .appointment-block
            .container
                form.appointment-block__form
                    .appointment-block__step#choose
                        .top-bar
                            .container
                                .top-bar__title Запись на прием
                                .top-bar__close
                                    svg(width='28' height='28')
                                        use(xlink:href='/img/sprites/sprite.svg#icon_x_small_border')
                        .appointment-block__items
                            a(href="#directions").appointment-block__item.appointment-block__item--service
                                .icon
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 6H21" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8 12H21" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8 18H21" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3 6H3.01" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3 12H3.01" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3 18H3.01" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                .caption Выбрать услугу
                            a(href="#doctors").appointment-block__item.appointment-block__item--doctor
                                .icon
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 11C11.2091 11 13 9.20914 13 7C13 4.79086 11.2091 3 9 3C6.79086 3 5 4.79086 5 7C5 9.20914 6.79086 11 9 11Z" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M23 20.9999V18.9999C22.9993 18.1136 22.7044 17.2527 22.1614 16.5522C21.6184 15.8517 20.8581 15.3515 20 15.1299" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16 3.12988C16.8604 3.35018 17.623 3.85058 18.1676 4.55219C18.7122 5.2538 19.0078 6.11671 19.0078 7.00488C19.0078 7.89305 18.7122 8.75596 18.1676 9.45757C17.623 10.1592 16.8604 10.6596 16 10.8799" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                .caption Выбрать врача
                            a(href="#date").appointment-block__item.appointment-block__item--date
                                .icon
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16 2V6" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8 2V6" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3 10H21" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                .caption Выбрать дату и время
                    .appointment-block__step#directions
                        .top-bar
                            .container
                                a(href="#choose").top-bar__back
                                    svg(width='28' height='28')
                                        use(xlink:href='/img/sprites/sprite.svg#icon_chevron_left_small_border')
                                .top-bar__title Направление
                                a(href="#choose").top-bar__close
                                    svg(width='28' height='28')
                                        use(xlink:href='/img/sprites/sprite.svg#icon_x_small_border')
                        .appointment-block__directions
                    .appointment-block__step#service
                        .top-bar
                            .container
                                a(href="#directions").top-bar__back
                                    svg(width='28' height='28')
                                        use(xlink:href='/img/sprites/sprite.svg#icon_chevron_left_small_border')
                                .top-bar__title Направление
                                a(href="#choose").top-bar__close
                                    svg(width='28' height='28')
                                        use(xlink:href='/img/sprites/sprite.svg#icon_x_small_border')
                        .appointment-block__services
                    .appointment-block__step#doctors
                        .top-bar
                            .container
                                .top-bar__title Врач
                                a(href="#choose").top-bar__close
                                    svg(width='28' height='28')
                                        use(xlink:href='/img/sprites/sprite.svg#icon_x_small_border')
                        .appointment-block__doctors.doctors-block__items
                            a(href="#choose").doctors-block__item
                                .text
                                    .text-name Басенко Татьяна Валерьевна
                                    .text-caption Врач акушер-гинеколог
                                .image
                                    img(loading="lazy" class="lazyload" data-src="/img/common/doc-3.jpg" width="80" height="104")
                                input(type="radio" name="doctor" value="Басенко Татьяна Валерьевна")
                            a(href="#choose").doctors-block__item
                                .text
                                    .text-name Ломаченко Мария Викторовна
                                    .text-caption Врач акушер-гинеколог
                                .image
                                    img(loading="lazy" class="lazyload" data-src="/img/common/doc-3.jpg" width="80" height="104")
                                input(type="radio" name="doctor" value="Ломаченко Мария Викторовна")
                            a(href="#choose").doctors-block__item
                                .text
                                    .text-name Ивашкевич Надежда Владимировна
                                    .text-caption Врач акушер-гинеколог
                                .image
                                    img(loading="lazy" class="lazyload" data-src="/img/common/doc-3.jpg" width="80" height="104")
                                input(type="radio" name="doctor" value="Ивашкевич Надежда Владимировна")
    .appoint-page
        .top-bar
            .container
                .top-bar__title Запись на прием
                .top-bar__close
                    svg(width='28' height='28')
                        use(xlink:href='/img/sprites/sprite.svg#icon_x_small_border')
        .appointment-block
            .container
                .appointment-block__items
                    a(href="appointment-directions.html").appointment-block__item.appointment-block__item--service
                        .icon
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 6H21" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8 12H21" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8 18H21" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3 6H3.01" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3 12H3.01" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3 18H3.01" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .caption Выбрать услугу
                    a(href="appointment-doctors.html").appointment-block__item.appointment-block__item--doctor
                        .icon
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9 11C11.2091 11 13 9.20914 13 7C13 4.79086 11.2091 3 9 3C6.79086 3 5 4.79086 5 7C5 9.20914 6.79086 11 9 11Z" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M23 20.9999V18.9999C22.9993 18.1136 22.7044 17.2527 22.1614 16.5522C21.6184 15.8517 20.8581 15.3515 20 15.1299" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16 3.12988C16.8604 3.35018 17.623 3.85058 18.1676 4.55219C18.7122 5.2538 19.0078 6.11671 19.0078 7.00488C19.0078 7.89305 18.7122 8.75596 18.1676 9.45757C17.623 10.1592 16.8604 10.6596 16 10.8799" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .caption Выбрать врача
                    a(href="appointment-date.html").appointment-block__item.appointment-block__item--date
                        .icon
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16 2V6" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M8 2V6" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3 10H21" stroke="#0088CC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .caption Выбрать дату и время
    +callbackPopup()
block scripts
    script(src="js/data.js")
    script(src="js/main.js")
    //script(src="js/appoint.js")