mixin searchbox
    .searchbox
        .container
            +input-icon({
                type: "search",
                icon: "#icon_search",
                placeholder: "Найти врача или услугу"
            })