mixin top-bar(back, title,closed)
    .top-bar
        .container
            if(back)
                a(href=back).top-bar__back: +icons('#icon_chevron_left_small_border',28)
            .top-bar__title!= title
            if(closed)
                a(href=closed).top-bar__close: +icons("#icon_x_small_border",28)
