.analyzes-block
    .container
        .block-title.analyzes-block__title
            span Новые анализы
            a(href="#").block-title__link
                span Все
                +icons('#icon_chevron_right', 24)
        .analyzes-block__items
            a(href="#").analyzes-block__item.with-dot
                .date 14 апреля
                .title Клинический анализ крови
                .ready-date Готов 18 апреля
            a(href="#").analyzes-block__item.with-dot
                .date 13 апреля
                .title Определение уровня АЛТ в крови
                .ready-date Готов 17 апреля