mixin services-section(data)
    .services-sections
        .container
            .services-sections__section
                .block-title Диагностика
                ul.services-sections__items
                    li.services-sections__item
                        a(href="#") Ортопантомограмма
                    li.services-sections__item
                        a(href="#") Ультразвуковая диагностика
                    li.services-sections__item
                        a(href="#") Функциональная диагностика
                    li.services-sections__item
                        a(href="#") Эндоскопия
            .services-sections__section
                .block-title Лечение
                ul.services-sections__items
                    li.services-sections__item
                        a(href="#") Гастроэнтерология
                    li.services-sections__item
                        a(href="#") Гинекология
                    li.services-sections__item.has-submenu
                        a(href="#") Дерматология
                    li.services-sections__item
                        a(href="#") Малоинвазивная хирургия
                    li.services-sections__item
                        a(href="/services-detail.html") Ортопедия и травматология
                    li.services-sections__item.has-submenu
                        a(href="#") Оториноларингология
                        ul.services-sections__submenu
                            li.services-sections__item.services-sections__subitem: a(href="#") Первичный прием врачом-оториноларингологом
                            li.services-sections__item.services-sections__subitem: a(href="#") Повторный прием врачом-оториноларингологом
                    li.services-sections__item
                        a(href="#") Терапия
                    li.services-sections__item
                        a(href="#") Тракционная терапия
                    li.services-sections__item
                        a(href="#") Урология
                    li.services-sections__item
                        a(href="#") Хирургия
