.bottom-bar{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  padding: 8px 0;
  z-index: 2;
  filter: drop-shadow(0 0 9px rgba(0, 0, 0, 0.25));

  .container{
    display: flex;
    align-items: flex-end;
  }

  .bottom-bar__item{
    width: calc(100% / 5);
    text-align: center;
    position: relative;

    &.is-active{
      .icon svg path,
      .icon svg path{
        stroke: #0088CC;
      }
      .caption{
        color: #0088CC;
      }
    }

    &.center{
      .icon{
        position: absolute;
        width: 48px;
        height: 48px;
        left: 0;
        right: 0;
        bottom: 24px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        svg{
          position: relative;
          z-index: 2;
          path{
            fill: #fff;
          }
        }

        &::before{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: #0088CC;
          z-index: 1;
        }

        &::after{
          content: "";
          width: 58px;
          height: 58px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: #fff;
          border-radius: 50%;
          z-index: 0;
        }
      }
      .caption{
        font-weight: 700;
      }
    }

    .icon{
      width: 24px;
      height: 24px;
      margin: 0 auto;
    }

    .caption{
      padding-top: 4px;
      font-size: 13px;
      line-height: 150%;
      text-align: center;
      color: #242629;
      font-family: 'Lato', sans-serif;
    }

  }

}