.banner-block
    .container
        .banner-block__slider.splide
            .splide__track
                ul.splide__list
                    li.splide__slide
                        .banner-block__text Лазерное лечение изменений кожи на аппарате Vbeam Prima
                        .banner-block__link 280 руб.
                        picture
                            img(src="/img/common/banner.jpg" width="100%" height="100%")
                    li.splide__slide
                        .banner-block__text Лазерное лечение изменений кожи на аппарате Vbeam Prima
                        .banner-block__link 300 руб.
                        picture
                            img(src="/img/common/banner.jpg" width="100%" height="100%")